.received {
   @include adaptiveValue("padding-top", 110, 40);
   @include adaptiveValue("padding-bottom", 130, 40);

   .received__container {}
}

.received__title {
   @include adaptiveValue("font-size", 55, 25);
   letter-spacing: 1.1px;
   font-weight: 500;
   padding-bottom: rem(26);
}

.received__navigation {
   display: flex;
   letter-spacing: 0.34px;
   font-weight: 500;
   font-size: rem(17);
   @include adaptiveValue("column-gap", 13, 7);

   .received__navigation__base {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 13, 7);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }

      &::after {
         content: '';
         height: rem(1);
         width: rem(16);
         background-color: black;
      }
   }

   .received__navigation__middle {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 13, 7);

      &::after {
         content: '';
         height: rem(1);
         width: rem(16);
         background-color: black;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   .received__navigation__next {
      color: rgba(144, 144, 144, 1);
   }

   @include adaptiveValue("padding-bottom", 84, 30);
}

.main__received {
   letter-spacing: 0.34px;
   font-size: rem(17);
   display: flex;
   justify-content: space-between;
   column-gap: rem(40);
   align-items: center;
   row-gap: rem(40);

   @media (max-width: 600px) {
      flex-wrap: wrap;
   }

   .main__received__done {
      display: flex;
      @include adaptiveValue("column-gap", 32, 20);
      align-items: center;

      .main__received__done__img {

         img {}
      }

      .main__received__done__text {
         line-height: 140%;

         p {
            &:first-child {
               letter-spacing: 0.5px;
               font-weight: 500;
               font-size: rem(25);
               padding-bottom: rem(17);
            }
         }
      }
   }

   .main__received__home {
      a {
         height: rem(68);
         min-width: rem(272);
         display: flex;
         align-items: center;
         justify-content: center;
         color: rgba(110, 156, 159, 1);
         border: 1px solid #6E9C9F;
         transition: all 0.8s ease 0s;

         @media (any-hover: hover) {
            &:hover {
               background-color: rgba(110, 156, 159, 1);
               color: white;
            }
         }
      }
   }
}