.shop {
   @include adaptiveValue("padding-top", 190, 50, 1100, 500, 1);
   @include adaptiveValue("padding-bottom", 130, 40);

   .shop__container {}
}

.shop__title {
   @include adaptiveValue("font-size", 55, 25);
   letter-spacing: 1.1px;
   font-weight: 500;
   padding-bottom: rem(26);
}

.shop__navigation {
   display: flex;
   letter-spacing: 0.34px;
   font-weight: 500;
   font-size: rem(17);
   column-gap: rem(13);

   .shop__navigation__base {
      display: flex;
      align-items: center;
      column-gap: rem(13);

      &::after {
         content: '';
         height: rem(1);
         width: rem(16);
         background-color: black;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   .shop__navigation__next {
      color: rgba(144, 144, 144, 1);
   }
}

.shop__catalog {
   @include adaptiveValue("padding-top", 214, 35, 1100, 500, 1);

   .shop__catalog__navigation {
      // display: grid;
      //grid-template-columns: repeat(auto-fit, minmax(rem(130), 1fr));
      display: flex;
      column-gap: rem(10);
      row-gap: rem(10);
      @include adaptiveValue("padding-bottom", 92, 35);

      @media (max-width: 820px) {
         flex-wrap: wrap;
      }


      .shop__catalog__navigation__item {
         display: flex;
         align-items: center;
         justify-content: center;
         flex: 1 1 rem(191);
         height: rem(62);
         border: 1px solid #000;
         letter-spacing: 0.34px;
         font-weight: 500;
         font-size: rem(17);
         transition: all 0.8s ease 0s;
         min-width: rem(100);

         @media (any-hover: hover) {
            &:hover {
               background-color: rgba(0, 0, 0, 1);
               color: rgba(255, 255, 255, 1);

               @media (min-width: 820px) {
                  flex: 1 1 rem(162);
               }
            }
         }
      }
   }

   .products__shop {
      .products__shop__amount-top {
         color: rgba(128, 128, 128, 1);
         letter-spacing: 0.34px;
         font-weight: 500;
         font-size: rem(17);
      }

      .products__shop__body {
         @include adaptiveValue("padding-top", 65, 30);
         @include adaptiveValue("padding-bottom", 65, 30);
         display: grid;
         column-gap: rem(30);
         row-gap: rem(65);
         grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));
         justify-content: center;
         justify-items: center;
      }

      .products__shop__amount-bottom {
         color: rgba(128, 128, 128, 1);
         letter-spacing: 0.34px;
         font-weight: 500;
         font-size: rem(17);
         @include adaptiveValue("padding-bottom", 65, 30);
      }

      .products__shop__navigation {
         display: flex;
         column-gap: rem(14);
         align-items: center;
         justify-content: center;

         .products__shop__navigation__link {
            letter-spacing: 0.34px;
            font-weight: 500;
            font-size: rem(17);

            &:not(:last-child) {
               display: flex;
               width: rem(41);
               height: rem(41);
               border: 1px solid #000;
               justify-content: center;
               align-items: center;

               @media (any-hover: hover) {
                  &:hover {
                     background-color: rgba(0, 0, 0, 1);
                     color: white;
                  }
               }
            }
         }

         ._active {
            background-color: rgba(0, 0, 0, 1);
            color: white;
         }
      }
   }
}